In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'win' : [0,0,1,1,1,0,1]})

In [3]:
print(df)

   win
0    0
1    0
2    1
3    1
4    1
5    0
6    1

In [4]:
df_group = (df.win != df.win.shift()).cumsum()
df['winning_streak'] = df.groupby(df_group).sum()

In [10]:
df.head(10)

     win  winning_streak
win
1      0               0
2      3               6
3      0               0
4      1               1

In [9]:
df['shift'] = df.win.shift()

8

In [28]:
print(df)

   win  winning_streak  shift
0    0               0    NaN
1    0               0    0.0
2    1               1    0.0
3    1               2    1.0
4    1               3    1.0
5    0               0    1.0
6    1               1    0.0

In [30]:
df.groupby(df_group).cumsum()

   win  winning_streak  shift
0    0               0    NaN
1    0               0    0.0
2    1               1    0.0
3    2               3    1.0
4    3               6    2.0
5    0               0    1.0
6    1               1    0.0